/* CSS Document */
#nen{ background:#E1E1FF;
}

a {
  color : blue;
    text-decoration : none; 
}

a:hover, a:focus, a:active {
  color : red; 
  text-decoration : underline;
}

a:focus, a:active {
  color : blue;
  text-decoration : underline;
}

.tag1{
    color: #006699;
    font-size: 14px;
}

.tag2{
    color: #993300;
    font-size: 18px;
}

.tag3{
    color: #666666;
    font-size: 24px;
}

.visit{
	margin:120px 5px 5px 0px;
	width:90px;
	height:100px;
	position: fixed;
}

.like{
	border-radius: 10px;
	margin:190px 5px 5px 10px;
	width:90px;
	height:200px;
	position: fixed;
	background:#808080 ;
}

.lienhe{
	border-radius: 10px;
	margin:400px 5px 5px 10px;
	width:90px;
	height:80px;
	position: fixed;
	background:#808080 ;
}
#menubar{
	z-index: 9999;
	margin:0px auto 0 auto;
	width:1024px;
}
#khung{
	z-index: inherit;
	margin:55px auto 0 auto;
	width:1024px;
	-moz-box-shadow: 26px 5px 8px #7A7A7A;
	-webkit-box-shadow: 26px 15px 8px #7A7A7A;
}

#banner{
	width:1024px;
	height:160px;
	margin:0px auto auto 0px;  
}

#trai{
	margin:5px auto;
	background:#ffffff;
	border:1px solid #000000;
	width:735px;
	min-height:1550px;
	float:left;
	border-style:double;
}

#phai{
	margin:10px auto;
	width:285px;
	background:#FFFFFF;
	min-height:1050px;
	float:right;
}

#phai1{
	width:265px;
	height:240px;
}

#phai11{
	width:255px;
	height:220px;
	border:1px solid #CCCCCC;
	margin:5px 5px auto 13px;
}

#phai2{
	width:265px;
	height:170px;
}

#phai22{
	width:258px;
	height:150px;
	border:1px solid #CCCCCC;
	margin:5px 5px auto 10px;
}

#phai3{
	width:260px;
	height:400px;
	margin:5px 5px auto 10px;
}

#phai4{
	width:265px;
	height:auto;
	border:0px solid #CCCCCC;
	margin:5px auto auto 5px;
}

#chinh{
	width:720px;
	height:1500px;
	margin:1px 5px auto 5px;
}

#hoptin{
	width:720px;
	height:auto;
	float:left;
	margin:1px auto auto 1px;
}

.tin{
	margin:5px auto auto 1px;
	width:720px;
	height:300px;
	border:1px solid #000000;
}

.nentieude{
	text-align:left;
	height:30px;
	width:720px;
	background:#C5C5C5;
}

.tieude{
	text-transform:uppercase;
	font-size:22px;
	color:#0000FF;
	margin:5px auto 2px 5px;
}

.tronghoptin{
	width:720px;
	height:240px;
}

.anhhoptin{
	margin:5px 5px auto 5px;
	width:150px;
	height:150px;
	float: left;
}

.chuhoptin{
	float:right;
	width:500px;
	height:220px;
}

.footer{
	width:1024px;
	height:100px;
	margin:0px auto 0px auto;
	font-size:14px;
}

.clr{clear:both;}

/* Popup*/
div#popup-bg {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:99;
	background:#000;
	display:none;
}

div#popup {
	width:510px;
	height:540px;
	z-index:999;
	display:none;
	background:#FFF;
}

div#popup-header {
	position:relative;
	float:left;
	width:510px;
	line-height:26px;
	font-size:20px;
	background:#000;
	color:#FF0;
	cursor:move;
}

span#popup-close {
	cursor:pointer;
	color:#FFF;
	font-size:26px;
	position:absolute;
	top:-2px;
	right:10px;
	z-index:9999;
}

div#popup-content {
	margin:0px 0px 0px 0px;
	width:510px;
}