<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HaMy.Properties.Settings.HaMyConnectionString" connectionString="Data Source=Win7X64\ThangNM;Initial Catalog=HaMy;User ID=sa;Password=abc@123" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
