.body
{
    width: 1100px;
    height: 1000px;
    background-color: #dddfdf;
    margin: auto;
    padding:0;

    
}
.banner
{
    width: 1100px;
    height: 150px;
    background-color: aqua;
}
.menu
{
    width: 1100px;
    height: 50px;
    background-color: #005588;
    
}
.menu1
{
    width: 850px;
    height: 50px;
    background-color: #005588;
    margin: 0px 0px 0px 100px;
    list-style: none;
    position: relative;
    font-size: 1.5em;
}
    .menu1 > li
    {
        float: left;
        margin: 0; padding: 0;
        border-right: 1px solid
    }
    .menu a
    {
        padding: 10px 15px;
        display: block;
        color: #f0f0f0;
        text-decoration: none;
        
    }
    .menu li:hover
    {
        background-color: #0e2142;
    }

.right
{
    width: 300px;
    height: 710px;
    background-color: #eeeff0;
    border: 1px solid #CDCDCD;
    float:right;
    margin-top: 20px;
    margin-right: 20px;
}
.content
{
     width: 750px;
     height: 710px;
     border: 1px solid #CDCDCD;
     background-color: #eeeff0;
     float:left;
     margin-top: 20px;
     margin-left: 20px;

}

.footer
{
    width: 1100px;
    height: 50px;
    background-color: #005588;
    margin-top: 750px;
    
}
.stream
{
    width: 600px;
    height: 500px;
    background-color: black;
    margin: auto;
}

.info
{
    width: 600px;
    height: 200px;
    border: 1px solid #CDCDCD;
    margin:  auto;
}
.menu-doc
{

    width: 250px;
    height: 710px;
    background-color: #005588;
    float: left;
    list-style: none;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 1.5em;
}
   #menu ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
    }
    
    #menu li 
  {
    list-style-type: none;
  }
    #menu li a {
    text-decoration:none;
    background-color:#005588;
    color:white;
    line-height:40px;
    display:block;
    width:230px;
    border-top:1px solid;
    border-bottom:1px solid;
    padding-left:20px;

}
#menu li a:hover

{
  background-color: #0e2142;  
}
.trangcanhan

{
     width: 800px;
     height: 710px;
     border: 1px solid #CDCDCD;
     background-color: #eeeff0;
     float:right;
     margin-top: 20px;
     margin-right: 20px;

}














