.body
{
    width: 1100px;
    height: 1000px;
    background-color: #dddfdf;
    margin: auto;
    padding:0;

    
}
.banner
{
    width: 1100px;
    height: 150px;
    background-color: aqua;
}
.menu
{
    width: 1100px;
    height: 50px;
    background-color: #005588;
    
}
.menu1
{
    width: 850px;
    height: 50px;
    background-color: #005588;
    margin: 0px 0px 0px 100px;
    list-style: none;
    position: relative; /*--thi?t l?p v? trí c?a ul chua menu--*/
    font-size: 1.5em;
}
    .menu1 > li
    {
        float: left;
        margin: 0; padding: 0;
        border-right: 1px solid
    }
    .menu a
    {
        padding: 10px 15px;
        display: block;
        color: #f0f0f0;
        text-decoration: none;
    }
    .menu li:hover
    {
        background-color: #0e2142;
    }

.right
{
    width: 500px;
    height: 710px;
    background-color: #eeeff0;
    float:right;
    margin-top: 20px;
    margin-right: 30px;
}
.left
{
    width: 500px;
    height: 710px;
    background-color: #eeeff0;
    float:left;
    margin-top: 20px;
    margin-left: 30px;

}
.footer
{
    width: 1100px;
    height: 50px;
    background-color: #005588;
    margin-top: 750px;
    
}










