/* N?u thi?u style nào thì m?i ngu?i b? xung, */
/* luu ý cách d?t tên sao cho t?ng quát nh?t */

body
{
}
/*====================================================*/
/*Ph?n tiêu d?*/
/*Tiêu d? cho m?t nhóm các control*/
.GroupTitle
{
    font-weight: bold;
    font-family: Tahoma, Arial, Helvetica;
    color: #4c4c4c;
    padding-left: 3px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 10pt;
}
/*Tiêu d? c?a m?t Control*/
.PageTitle
{
    font-weight: bold;
    font-family: Tahoma, Arial, Helvetica;
    color: #003399;
    padding-left: 3px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 10pt;
    text-transform: uppercase;
}
/*Tiêu d? c?a m?t vùng trên control*/
.Title
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
}
.Caption
{
    font-size: 12px;
    font-family: Tahoma, Arial, Helvetica;
    font-weight: bold;
}
.ButtonFlat
{
    border: 0px;
    border-right: Silver 1px solid;
    border-top: Silver 1px solid;
    font-size: 12px;
    border-left: Silver 1px solid;
    border-bottom: Silver 1px solid;
    font-family: Verdana;
    text-decoration: none;
}
/*=======================================================================*/
/* Ph?n Label */
/*M?t Label hi?n th? ph?n mô t? cho các TextBox nh?p li?u*/
.Label
{
    font-family: Arial, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    margin-left: 10px;
    height: 18px;
}
/* Nhãn có ch? nghiêng */
.LabelItalic
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}
/* Nhãn có ch? d?m */
/* Dùng cho các nhãn hi?n th? d? li?u trên form */
.LabelBold
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
}
/* Nhãn có ch? d?m */
/* Dùng cho các nhãn hi?n th? d? li?u trên form */
.LabelBoldBig
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 15px;
    font-weight: bold;
}
/* Nhãn có ch? d?m màu xanh lam */
/* Dùng cho các thông báo k?t qu? b?n ghi tìm du?c khi tra c?u */
.LabelBoldBlue
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: bold;
    color: Blue;
}
/* Nhãn có font ch? to hon 1px */
.LabelLarge
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
}
/* Nhãn có font ch? nh? hon 1px */
.LabelSmall
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 10px;
    font-weight: normal;
}
/* Nhãn màu xanh lá cây */
.LabelXanh
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    color: #66cc66;
}
/* Nhãn màu vàng */
.LabelVang
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    color: #ffcc33;
}
/* Nhãn màu d? */
.LabelDo
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    color: #ff6666;
}
/* Nhãn màu xanh lá cây */
.LabelXanhBold
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: bold;
    color: #53C653;
}
/* Nhãn màu vàng */
.LabelVangBold
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: bold;
    color: #FBBC00;
}
/* Nhãn màu d? */
.LabelDoBold
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: bold;
    color: #FF3300;
}
/*======================================================*/
/* Ph?n TextBox */
/* Dùng cho nh?p ki?u d? li?u String */
.TextBox
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}
.TextBoxFlat
{
    border: 0px;
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    font-size: 11px;
    border-left: #000000 1px solid;
    border-bottom: #000000 1px solid;
    font-family: Verdana;
    text-decoration: none;
}
.TextBoxBottomSolid
{
    border-style: none none solid none;
    border-width: 0px 0px 1px 0px;
    text-decoration: none;
    border-bottom-color: #000000;
}

/* Dùng cho các textbox khi b? disable */
.TextBoxDisabled
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    color: Silver;
}
/* Dùng cho các textbox gióng hàng ? gi?a */
.TextBoxCenter
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}
/*Dùng cho nh?ng ô text nh?p d?ng nhi?u dòng*/
.TextArea
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    height: 100px;
}
.TextAreaFlat
{
    border: 0px;
    border-right: Silver 1px solid;
    border-top: Silver 1px solid;
    font-size: 12px;
    border-left: Silver 1px solid;
    border-bottom: Silver 1px solid;
    font-family: Verdana;
    text-decoration: none;
    font-weight: normal;
    height: 100px;
}
/* Dùng cho nh?p ngày tháng */
.DateBox
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}

/* Dùng cho nh?p ngày tháng */
.DateBoxLeft
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}

/* Dùng cho nh?p ngày tháng */
.DateBoxRight
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
}


.DateBoxKT
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}
/* Dùng d? hi?n th? giá tr? ngày tháng */
.DateBoxDisabled
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    color: Silver;
    text-align: center;
}
/* Dùng cho nh?p s? */
.NumberBox
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    vertical-align: top;
}
/* Dùng cho hi?n th? s?*/
.NumberBoxFlat
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    vertical-align: top;
    border-right: Silver 1px solid;
    border-top: Silver 1px solid;
    border-left: Silver 1px solid;
    border-bottom: Silver 1px solid;
}
/* Dùng cho nh?p s? */
.NumberBoxKT
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
}

/* Dùng d? hi?n th? giá tr? s? */
.NumberBoxDisabled
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
}
/*==================================================================*/
/* Ph?n ComboBox và c? các CodeAndList */
/* H?p combobox bình thu?ng */
.ComboBox
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
}
.ComboBoxFlat
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    border-right: Silver 1px solid;
    border-top: Silver 1px solid;
    border-left: Silver 1px solid;
    border-bottom: Silver 1px solid;
    text-decoration: none;
}
/* H?p combobox b? disable */
.ComboBoxDisabled
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    color: Silver;
}
/*==================================================================*/
/* Ph?n RadioButton */
.RadioButton
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
}
/* H?p ch?n RadioButton b? disable */
.RadioButtonDisabled
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    color: Silver;
}
/*====================================================================*/
/*Ph?n CheckBox*/
.CheckBox
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
}
/* H?p ch?n CheckBox b? disable */
.CheckBoxDisabled
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    color: Silver;
}
/*====================================================================*/
/*Ph?n Button*/
/* Nút b?m bình thu?ng */
.CommonButton
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
}
/* Nút b?m b? disable */
.DisabledButton
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    height: 22px;
    color: Silver;
}
/* Nút b?m nh? hon 1px */
.SmallButton
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    height: 20px;
}
/* Nút b?m bình thu?ng */
.MediumButton
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    height: 22px;
}
/* Nút b?m l?n hon 1px */
.LargeButton
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    height: 24px;
}
/*====================================================================*/
/*Ph?n hi?n th? l?i*/
.ErrMsg
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    color: red;
    list-style-type: square;
    text-align: left;
}
/*Ph?n hi?n th? thông báo thành công*/
.SucceedMsg
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    color: Green;
    list-style-type: square;
    text-align: left;
}
/*====================================================================*/
/*Ph?n hi?n th? s? t? khai*/
.STK
{
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #e00000;
}

.STKDisabled
{
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: Silver;
}
/*====================================================================*/
/*Ph?n GridView*/
/*Ph?n chung cho gridview*/
.GridLayout
{
    border-right: gray 1px solid;
    border-top: gray 1px solid;
    font-size: 10pt;
    font-family: Verdana, Tahoma;
    border-left: gray 1px solid;
    border-bottom: gray 1px solid;
    font-family: Tahoma, Verdana;
    height: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.GridLayout_Black
{
    border-right: Black 1px solid;
    border-top: Black 1px solid;
    font-size: 10pt;
    font-family: Verdana, Tahoma;
    border-left: Black 1px solid;
    border-bottom: Black 1px solid;
    font-family: Tahoma, Verdana;
    height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.GridLayout_NoMargin
{
    border-right: gray 1px solid;
    border-top: gray 1px solid;
    font-size: 8pt;
    font-family: Verdana, Tahoma;
    border-left: gray 1px solid;
    border-bottom: gray 1px solid;
    font-family: Tahoma, Verdana;
    height: 20px;
}
/*Ph?n header*/
.GridHeader
{
    font-weight: bold;
    background-color: #DDE1E5;
    text-align: center;
    height: 20px;
}
.GridHeaderFixed
{
    font-weight: bold;
    background-color: #DDE1E5;
    text-align: center;
    height: 20px;
    position: absolute;
    top: expression(this.parentNode.parentNode.parentNode.scrollTop-1);
}

/*Ph?n Footer*/
.GridFooter
{
    background-color: white;
    height: 20px;
}
.GridFooterFixed
{
    background-color: white;
    height: 20px;
    position: absolute;
    bottom: expression(this.parentNode.parentNode.parentNode.parentNode.scrollHeight -this.parentNode.parentNode.parentNode.parentNode.scrollTop -this.parentNode.parentNode.parentNode.parentNode.clientHeight);
}
/*Ph?n phân trang*/
.GridPager
{
    background-color: #d7d7d7;
    text-align: center;
    height: 20px;
}
/*Dòng ch?n */
.GridItem
{
    background-color: white;
    height: 20px;
}
/*Ph?n dòng l?*/
.GridAlternatingItem
{
    background-color: #F9F9F9;
    height: 20px;
}
/*Ph?n dòng du?c ch?n */
.GridSelectedItem
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
    background-color: Transparent;
    height: 20px;
    color: #DDE1E5;
    padding: 10px 10px 10px 10px;
}
/*Ph?n dòng s?a*/
.GridEditItem
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
    background-color: Transparent;
    height: 20px;
    color: Black;
    padding: 10px 10px 10px 10px;
}

.GridItemXanh
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: bolder;
    color: #006600;
    background-color: #99cc66;
}
.GridItemXanhTamDung
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: bolder;
    color: #006600;
    background: url(images/nnxanh.gif);
    background-color: #99cc66;
}
.GridItemVang
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: bolder; /* color: chocolate; */
    background-color: #ffff99;
}
.GridItemVangTamDung
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: bolder; /*color: chocolate; */
    background: url(images/nnvang.gif);
    background-color: #ffff99;
}
.GridItemDo
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: bolder;
    color: #ffffff;
    background-color: #ff6666;
}
.GridItemDoTamDung
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: bolder;
    color: #ffffff;
    background: url(images/nndo.gif);
    background-color: #ff6666;
}
.GridItemHongHuyBo
{
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: bolder;
    color: #00ffff;
    background: url(images/nndo.gif);
    background-color: #8080C0;
}
/*Hi?n th? checkbox trên lu?i*/
.GridItemCheckBox
{
    text-align: center;
}
.grid_scroll
{
    overflow: auto;
}
.GridItemTitle
{
    font-size: 12px;
    color: #333333;
    font-weight: bold;
    word-spacing: 1px;
    text-align: left;
}
/**/
.GridItemContent
{
    font-size: 12px;
    color: #333333;
    word-spacing: 1px;
    text-align: left;
}
/*Hi?n th? s?*/
.GridItemNumber
{
    font-size: 12px;
    color: #333333;
    word-spacing: 1px;
    text-align: right;
}
/*Hi?n th? cho báo cáo*/
.GridItemNumber_Black
{
    font-size: 12px;
    color: #333333;
    word-spacing: 1px;
    text-align: right;
    border: Black 1px solid;
}
.GridItemNumber1
{
    font-size: 12px;
    color: #333333;
    word-spacing: 1px;
    padding-top: 3px;
    text-align: right;
}
/*Hi?n th? ngày tháng*/
.GridItemDate
{
    font-size: 12px;
    color: #333333;
    word-spacing: 1px;
    text-align: center;
}
/*Hi?n th? cho báo cáo*/
.GridItemDate_Black
{
    font-size: 12px;
    color: #333333;
    word-spacing: 1px;
    text-align: center;
    border: Black 1px solid;
}
/*Hi?n th? mã*/
.GridItemCode
{
    font-size: 12px;
    color: #333333;
    text-align: center;
    text-decoration: none;
    font-family: Verdana;
}
.invisible
{
    width: 0px;
    display: none;
}
/*Hi?n th? String*/
.GridItemText
{
    font-size: 12px;
    color: #333333;
    word-spacing: 1px;
    text-align: left; /*word-wrap: break-word; */
    vertical-align: middle; /*overflow: scroll; 	clip: auto; */
}
/*Hi?n th? cho báo cáo*/
.GridItemText_Black
{
    font-size: 12px;
    color: #333333;
    word-spacing: 1px;
    text-align: left; /*word-wrap: break-word; */
    vertical-align: middle; /*overflow: scroll; 	clip: auto; */
    border: Black 1px solid;
}
/*Hi?n th? link trong gridview*/
.GridItemLink
{
    font-size: 12px;
    color: #333333;
    word-spacing: 1px;
    text-align: center;
}
.GridItemLinkBold
{
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    word-spacing: 1px;
    text-align: center;
}
/*====================================================*/
/*Dùng cho các table xu?t kh?u*/
.Table
{
    width: 100%;
    height: 100%;
    background-color: #E3EAF4;
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
}
.TableMain
{
    width: 100%;
    height: 100%;
    background-color: #F1F4FA;
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
}
.TableNK
{
    width: 100%;
    height: 100%;
    background-color: #E2FFFF;
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
}
.TableXK
{
    width: 100%;
    height: 100%;
    background-color: #FFDEDE;
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
}
.TableTK
{
    padding: 1px;
    width: 100%;
    height: 100%;
    background-color: #E8DCD9;
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
}
.TableNormal
{
}

.TableNormal td
{
    vertical-align: top;
}


/* C?t td trên b?ng gióng hàng bên trái */
.tdLeft
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}
/* C?t td trên b?ng gióng hàng bên trái */
.tdLeftReport
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    border-color: Black;
}
/* C?t td trên b?ng gióng hàng bên ph?i */
.tdRight
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
}
/* C?t td trên b?ng gióng hàng ? gi?a */
.tdCenter
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}
/*====================================================*/
/*Ph?n dùng cho link*/
/* Nút link bình thu?ng */
.Link
{
    text-decoration: none;
    color: #0000ff;
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    font-weight: normal;
}
.Link:hover
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    color: #ff3300;
    text-decoration: none;
    font-weight: normal;
}
/* Nút link d?m */
.LinkBold
{
    text-decoration: none;
    color: #0000ff;
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    font-weight: bold;
}
.LinkBold:hover
{
    text-decoration: none;
    color: #ff3300;
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    font-weight: bold;
}
/*====================================================*/
/* Ph?n dùng cho Panel */
.Panel
{
    width: 100%;
    height: 100%;
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    font-weight: normal;
}

/* Ph?n dùng cho Popup Panel */
.ModalPopup
{
    background-color: #ffffdd;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;
}
.ModalBackground
{
    background-color: Gray; /* filter:alpha(opacity=70); 	opacity:0.7;	*/
}


.info, .success, .warning, .error, .validation
{
    border: 1px solid;
    margin: 10px 0px;
    background-repeat: no-repeat;
    background-position: 10px center; /*padding:15px 10px 15px 50px;*/
}
.info
{
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url(    "/_layouts/images/ewr033.gif" );
}
.success
{
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url(    "/_layouts/images/ewr217l.gif" );
}
.warning
{
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url(    "/_layouts/images/ewr024.gif" );
}
.error
{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url(    "/_layouts/images/ewr032.gif" );
}
.container
{
}
.info p, .success p, .warning p, .error p
{
    padding: 0px 50px;
}
.info a, .success a, .warning a, .error a
{
    float: right;
    padding: 10px;
    cursor: pointer;
}
.container img
{
    border: none;
}

/* validation */
.validation
{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url(    "/_layouts/images/ewr032.gif" );
}
.validation ul
{
    padding: 0px 30px;
}

/* Style cho phan div nam trong UpdateProgress*/
.DivUpdateProgress
{
    border: 1px solid #CC6600;
    position: absolute;
    z-index: 9999;
    left: expression((this.offsetParent.clientWidth/2)-(this.clientWidth/2)+this.offsetParent.scrollLeft);
    top: expression((this.offsetParent.clientHeight/2)-(this.clientHeight/2)+this.offsetParent.scrollTop);
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
    width: 300px;
    background-color: #FFFFFF;
}
.DivUpdateProgress td
{
    vertical-align: middle;
}

.iframeUpdateProgress
{
    border: 0px;
    position: absolute;
    z-index: 9997;
    left: 0px;
    top: 0px;
    width: expression(this.offsetParent.scrollWidth);
    height: expression(this.offsetParent.scrollHeight);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85, FinishOpacity=0, Style=0, StartX=0, FinishX=100, StartY=0, FinishY=100);
}

.DivPopupCenter
{
    border-right: black thin solid;
    padding-right: 10px;
    border-top: black thin solid;
    padding-left: 10px;
    font-size: 12px;
    z-index: 9998;
    left: 15%;
    padding-bottom: 10px;
    border-left: black thin solid;
    width: 75%;
    padding-top: 15px;
    border-bottom: black thin solid;
    font-family: Tahoma,Verdana;
    position: absolute;
    top: 15%;
    background-color: #d0ffdf;
    text-align: justify;
    vertical-align: middle;
    border-collapse: collapse;
}

.DivPopUpMessage
{
    position: absolute;
    z-index: 9999;
    left: expression((this.offsetParent.clientWidth/2)-(this.clientWidth/2)+this.offsetParent.scrollLeft);
    top: expression((this.offsetParent.clientHeight/2)-(this.clientHeight/2)+this.offsetParent.scrollTop);
    vertical-align: middle;
    text-align: center;
    margin: 5px;
}

/* Phan nay dung cho TreeGrid */
.tgDefault
{
    border-top: 1px solid #7c7c94;
    background-color: #ffffff;
    border-spacing: 0px;
    font-size: 12px;
    font-family: 'Arial' , 'Verdana' , 'sans-serif' , 'Times New Roman';
}

.tgDefault img
{
    border: 0px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

.tgDefault td
{
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid #7c7c94;
    line-heigth: 20px;
    height: 25px;
}

.legend
{
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.sepLine
{
    color: #FF9933;
}


.clear
{
    clear: both;
}

/* class Groupbox*/
.Groupbox legend
{
    font-size: 11px;
    color: #999999;
    text-align: right;
    padding: 2px 4px 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


/*ThanhLH*/
.TextHighLight
{
    background: yellow;
}

.FCAP-DisplayNone
{
    display:none;
}

.TQDT_TT-s4-tn
{
    padding: 0px;
    margin: 0px; /*background-image:url("/_layouts/images/menu-dark.jpg");*/
    background-image: url("/_layouts/FCAP/images/bg.gif");
    background-position: 0 0px;
    background-repeat: repeat-x;
    color: #3b4f65;
    font-weight: bold;
    font-size: 10px;
}
.TQDT_TT-s4-tn ul.static
{
    white-space: nowrap;
}
.TQDT_TT-s4-tn li.static > .menu-item
{
    /* [ReplaceColor(themeColor:"Dark2")]  color:#3b4f65;*/
    color: #3b4f65;
    white-space: nowrap;
    border: 1px solid transparent;
    padding: 4px 10px;
    display: inline-block;
    height: 15px;
    vertical-align: middle;
}

.TQDT_TT-s4-tn ul.dynamic
{
    /* [ReplaceColor(themeColor:"Light2")] ;   background-color:#1c74cb;*/
    background-color: white;
    background-image: url("/_layouts/FCAP/images/bg.gif");
    background-position: 0 0px;
    background-repeat: repeat-x repeat-y; /* [ReplaceColor(themeColor:"Dark2-Lighter")] */
    border: 1px solid #D9D9D9;
}
.TQDT_TT-s4-tn li.dynamic > .menu-item
{
    display: block;
    padding: 3px 10px;
    white-space: nowrap;
    font-weight: normal;
    color: White;
    color: #3b4f65;
}
.TQDT_TT-s4-tn li.dynamic > a:hover
{
    /* [ReplaceColor(themeColor:"Light2-Lighter")] */
    background-color: #0099F6;
    color: White;
}
.TQDT_TT-s4-tn li.static > a:hover
{
    /* [ReplaceColor(themeColor:"Accent1")] */
    color: White;
    background-color: #0099F6;
}
.TQDT_TT-baner
{
    background-image: url('/_layouts/FCAP/images/banner.jpg');
    height: 110px;
}
.TQDT_TT-welcome
{
    background-color: silver;
}
.TQDT_TT-action
{
    background-color: silver;
}
.TQDT_TT_footer
{
    text-align: center;
}
/* Copy from Core.css*/
.ms-input, .ms-long, .ms-rtelong, .ms-longer, .ms-rtelonger, .ms-radiotext, .ms-inputuserfield, .ms-rtedropdown, .ms-lookuptypeintextbox, .ms-rtefield
{
    font-size: 8pt;
    font-family: Verdana,sans-serif;
}
.ms-inputuserfield, .ms-rtelong, .ms-rtelonger, .ms-rtefield
{
    border: 1px solid #a5a5a5;
    font-family: Tahoma, Tahoma, Helvetica;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}
div.ms-inputuserfield a
{
    color: #000000;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}
div.ms-inputuserfield
{
    padding-left: 1px;
    padding-top: 2px;
}
.ms-usereditor
{
    width: 386px;
}
.class_codeXML
{
    width: 100%; /* height:auto !important;real browsers */
    height: 600px;
    overflow: auto;
}
.MyCalendar .ajax__calendar_today
{
    background-color: lemonchiffon;
    color: red;
}

