<?xml version="1.0"?>
<configuration>
  <appSettings/>
    <connectionStrings>
        <clear />
        <add name="connectdb_server" connectionString="Data Source=WIN-TDAGI2SGHBP\THANGNM;Initial Catalog=EHOU;Persist Security Info=True;User ID=sa;Password=abc@123" providerName="System.Data.SqlClient" />
        <add name="connectdb_x64" connectionString="Data Source=WIN7X64\THANGNM;Initial Catalog=EHOU;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
        <add name="connectdb_x84" connectionString="Data Source=THANGNM;Initial Catalog=EHOU;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
      <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
  </system.web>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="2147483648" />
            </requestFiltering>
        </security>
        <staticContent>
            <!--<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
            <mimeMap fileExtension=".3g2" mimeType="video/3gpp2" />
            <mimeMap fileExtension=".f4v" mimeType="video/f4v" />
            <mimeMap fileExtension=".mkv" mimeType="video/x-matroska" />
            <mimeMap fileExtension=".webm" mimeType="video/webm" />-->
        </staticContent>
    </system.webServer>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>