
#idockbar {
	background: url("../img/dockblue-bg.png") repeat-x scroll 0 0 transparent;
	border-bottom: 1px solid #56216F;
	font-family: "Tahoma", "Verdana", "Arial", sans-serif;
	font-size: 12px;
	height: 31px;
	line-height: 30px;
	width: 100%;
	min-width:600px;
	z-index: 201;
}

#idockbar a {
	color: white;
	text-decoration: none;
}

#idockbar.unpin-dockbar {
	position: fixed;
	top: 0;
}

#idockbar .leftDocbar {
	float: left;
	padding: 0 12px;
	font-weight: bold;
}

#idockbar div {
	color: #FFFFFF;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}

#idockbar div.active {
	background-color: #FFFFFF;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	color: #474747;
}

#idockbar .rightDocbar {
	color: white;
	cursor: pointer;
	float: right;
	font-weight: bold;
	padding: 0 7px;
	text-decoration: underline;
}

#idockbar #notifydb {
	text-decoration: none;
}

#idockbar #namedb,#idockbar #notifydb {
	display: none;
	position: relative;
}

#idockbar .pinicon {
	float: right;
	height: 27px;
	margin: 2px 3px 0;
	width: 27px;
}

#idockbar.unpin-dockbar .pinicon {
	background: url("../img/unpin.png") no-repeat scroll 0 0 transparent;
}

#idockbar.pin-dockbar .pinicon {
	background: url("../img/pin.png") no-repeat scroll 0 0 transparent;
}

#idockbar .notify {
	background: url("../img/conversation.png") no-repeat scroll center
		center transparent;
}

#idockbar #notifydb {
	padding: 0 14px;
}

#idockbar #listnotify {
	background: none repeat scroll 0 0 white;
	border: 1px solid #D9D9D9;
	box-shadow: 1px 1px #454545;
	left: -130px;
	margin-left: -2000px;
	margin-top: 10px;
	position: absolute;
	width: 300px;
	z-index: 99999;
}

#idockbar #imgtop_no {
	left: 134px;
	position: absolute;
	top: -11px;
	width: 22px;
}

#idockbar #topnotify {
	border-bottom: 1px solid #D9D9D9;
	color: #333333 !important;
	padding: 0 4px;
}

#idockbar #footnotify a {
	color: #000066 !important;
	margin-left: 132px;
}

#idockbar #footnotify a:hover {
	text-decoration: underline;
}

#idockbar #imageleft_no {
	float: left;
	height: 65px;
	margin: 5px;
	width: 65px;
}

#idockbar .centernotify:hover {
	background: none repeat scroll 0 0 #F3EDF6;
}

#idockbar .centernotify {
	border-bottom: 1px solid #D9D9D9;
	height: 75px;
}

#idockbar .textnoti {
	color: #333333 !important;
	font-weight: normal !important;
	line-height: 20px;
	margin-right: 5px;
}

#idockbar .timenoti {
	border-bottom: 1px solid #E5E5E5;
	color: #9B9B9B !important;
	font-style: italic;
	font-weight: normal !important;
	text-align: right;
}

#idockbar .imgclock {
	height: 15px;
	width: 15px;
}

#idockbar .limitheight {
	max-height: 500px;
	overflow: auto;
}

#idockbar #notenoti {
	background: none repeat scroll 0 0 red;
	border-radius: 4px 4px 4px 4px;
	display: none;
	height: 12px;
	line-height: 10px;
	padding: 2px !important;
	position: absolute;
}

#idockbar .textnoti a {
	color: #333333 !important;
	font-weight: bold;
}

#idockbar .content {
	max-height: 400px;
	padding: 5px;
}