/******  Settings    ****/
body{ background-color:#F7F7F7;}

/******   wrapper Settings    ****/
#wrapper {margin:-1px auto; width:1030px; background-color:#FFFFFF;}

/******   header Settings    ****/
#bar {line-height:50px; background:#3E3E3E; position:absolute; width:100%; margin-top:80px; z-index: 0}
#header {height:80px;}
#logo {float:left; text-align:center; width:250px; position:absolute;}
#search {margin-left:300px; float:left; width:450px; position:absolute;}
#infoAccount {margin-left:760px; width:auto;}
#infoAccount a {color:Blue;}
#infoAccount .imgAvatar {float:left; padding-top:8px;}
#infoAccount .Text {margin-left:5px; padding-top:8px; display:inline}

/******  content Settings    ****/
#content {margin-top:80px; min-height:800px;}

/*  Login Settings    */
#login {border:2px ridge red; margin:5px 5px 5px 5px; padding:5px 5px 5px 5px; width:224px; height:225px;}

/*  form Settings    */
.formlarge{text-align:center; float:left; width:230px; height:480px; background:url("theme/bg_titlebar.png") no-repeat scroll 0 0 transparent; padding-left:27px; padding-top:10px;}
.formlarge h2{font-size:18px; padding-bottom:6px; text-shadow:2px 2px 1px #499F09;}
.formmedium{text-align:center; float:left; width:230px; height:274px; background:url("theme/bg_titlebar.png") no-repeat scroll 0 0 transparent; padding-left:27px; padding-top:10px;}
.formmedium h2{font-size:18px; padding-bottom:6px; text-shadow:2px 2px 1px #499F09;}
.formsmall{text-align:center; float:left; width:230px; height:230px; background:url("theme/bg_titlebar.png") no-repeat scroll 0 0 transparent; padding-left:27px; padding-top:10px;}
.formsmall h2{font-size:18px; padding-bottom:6px; text-shadow:2px 2px 1px #499F09;}
.formtiny{text-align:center; float:left; width:230px; height:100px; background:url("theme/bg_titlebar.png") no-repeat scroll 0 0 transparent; padding-left:27px; padding-top:10px;}
.formtiny h2{font-size:18px; padding-bottom:6px; text-shadow:2px 2px 1px #499F09;}

/******  Sidebar Settings    ****/
#sidebar {float:left; width:250px; background-color:White;}
#sidebar h4 {text-align:center; margin-right:10px; color:#660099;}

/*   navBar Settings    */
#sidebar div#navBar ul,li,a {display:inherit; margin:0; padding:0; border:0;}/* chinh tong the  tat ca cac the ul,li,a */
#sidebar div#navBar ul {width:250px; border:1px; background-color:#CCCCCC; list-style:none;}/* chinh cu the tat ca cac the ul */
#sidebar div#navBar li {position:relative; padding:1px; padding-left:0px; z-index:9;}/* chinh cu the tat ca cac the li */
#sidebar div#navBar li  span {float:right;}/* chinh cu the tat ca cac the span */
#sidebar div#navBar li  strong {float:right; font-size:13px; color:#CC9933; float:left;}/* chinh cu the tat ca cac the strong */ 
#sidebar div#navBar .mainNav ul {position:absolute; left:250px; top:0px; background-color:#CCCCCC;}/* chinh cu the tat cac cac the ul nam trong "mainNav"*/
#sidebar div#navBar li.mainNav>ul {left:250px;}
#sidebar div#navBar a {font-size:16px; padding:2px; text-decoration:none; color:#000000; width:100%; font-weight:bold; border-bottom:1px solid #002862; border-top:1px solid #155F9E}/* chinh tat cac cac the a */
#sidebar div#navBar li>a {width:auto; height:25px;}
#sidebar div#navBar li.mainNav ul a{color:#1e3d51; border-bottom:1px solid #adaaa3; border-top:1px solid #f4f1ea;}/* chinh tat ca cac the a cua ul nam trong"mainNav" */
#sidebar div#navBar a:hover {background-color:#F5F5F5; color:#000000;}/* nut cua tat cac cac the a */
#sidebar div#navBar li.mainNav li a:hover {background-color:#F5F5F5; color:#FF0000;}/* nut cua tat ca cac the a cua li nam trong "mainNav"*/ 
#sidebar div#navBar li.mainNav:hover {z-index:10;}
#sidebar div#navBar ul ul, li:hover ul ul {display:none;}
#sidebar div#navBar li:hover ul, li:hover li:hover ul {display:block;}

/******  primary Settings    ****/
#primary {float:right; font-size:10px; width:770px; border-width:5px; z-index:0;}
#primary #welcome {width:735px; padding:5px 5px 5px 5px;}

/******  footer Settings    ****/
#footer-container {bottom:0; clear:both; left:0; min-width:1024px; width:100%; margin:0; outline:medium none; color:#135181; position:static; padding-bottom:0px; background:url("bg_footer_container.png") repeat-x scroll 0 33px transparent;}
#footer {overflow:hidden; height:60px; clear:left; color:#FFFFFF; margin:0 auto; width:924px; outline:medium none; text-align:left; font-size:11px; padding:212px 50px 15px 50px; background:url("bg_footer.png")  no-repeat scroll center top transparent;}
#footer .copy{display:inline; float:left; margin: 5px 0 0 0px; width: 280px; outline:medium-none; padding:0;}
#footer .service{display:inline; float:left; padding-top:18px; text-align: center; width: 393px; outline:medium-none; margin:0;}
#footer .share{display:inline; float:left; margin-top: 2px; text-align: right; width: 250px; outline:medium-none; padding:0;}
#footer a{display:inline;}

/*  cart Settings    */
#cart {width:200px; height:200px;}

/******  slideshow  Settings    ****/
.slideshow {position:absolute; padding:10px;}
.detail {margin-left:400px; font-size:13px;}
.detail strong {font-size:16px; color:#cc0099; text-align:center;}

.menu
{
    margin-left: auto;
    margin-right: auto;
    width:1024px;
}

.menu .menuleft
{
    float:left;
}

.menu .menuright
{
    float:right;
}