/* Tab noi dung */
#tabContaier {font-size:14px; background:#a0afbd; border:1px solid #7b9bbb; position:relative; width:720px; margin-top:100px;}
#tabContaier ul {overflow:hidden; height:30px; position:absolute;}
#tabContaier li {float:left; list-style:none;}
#tabContaier li a {background:#ddd; border:1px solid #fcfcfc; color:#333; display:block; height:30px; font-weight:700; line-height:35px; padding:0 10px; text-decoration:none; text-transform:uppercase;}	
#tabContaier li a:hover {background:#ccc;}	
#tabContaier li a.active {background:#fbfbfb; border:1px solid #fff; border-right:0; color:#333;}	
.tabDetails {background:#fbfbfb; border:1px solid #fff; margin:34px 0 0;}	
.tabContents {padding:20px}	
.tabContents h1 {font-family:Arial, Helvetica, sans-serif; color:#333; font-size:18px; padding:0 0 10px;}
.tabContents p{padding:0 0 10px; text-align:justify;}